.lead {
  margin: 0;
  padding: 0;
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
  max-width: 984px;
 /* width: calc(100% - 296px);*/
  color: #fff; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1100px) {
  .lead {
    margin-top: 48px;
    max-width: 928px;
    /*width: calc(100% - 96px);*/
  }
}

@media screen and (max-width: 768px) {
  .lead {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    max-width: 320px;
  }
}