.header {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-top: 28px;
  max-width: 1184px;
  width: calc(100% - 96px);
}
