.place__link {
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: opacity 0.7s;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  text-decoration: none;
}

.place__link:hover {
  opacity: 0.8;
}