.cover__overlay {

margin: 0;
position: relative;


display: flex;


color: #000;

text-decoration: none;

max-width: 1184px;
min-height: 740px;


background-image: url(../../../images/cover-trains.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;


}


